@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&family=Yeseva+One&display=swap');
@import './form.css';
@import './xp.css';


body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.section-1 {
    grid-row: 2;
    padding-top: 2vh;
    z-index: -10;
}

.section-2 {
    grid-row: 2;
}

.footer {
    grid-row: 2;
    height: 3vh;
    display: flex;
    justify-content: center;
}

.copy{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

/* MENU BURGER */

.nav {
    grid-row: 1;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2vh;
}

.menu {
    display: flex;
    
}

.link {
    padding-right: 2em;
    padding-left: 2em;
    list-style-type: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: line-through;
    color: black;
}

/* Section 1 */

.container {
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.container-2 {
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.container-3 {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

.text {
    padding-left: 7vw;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-size: 5em;
    margin-bottom: 0.2em;
}

.title-2 {
    font-family: 'Yeseva One', cursive;
    font-size: 3em;
}

.study {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    background-color: rgb(255, 251, 8, 0.8);
}

.study-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.location {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1em;
}

.img {
    padding: 7vw;
}

.primary-img {
    height: auto;
    width: 45vw;
}

.primary-btn {
    border: solid black 1px;
    border-radius: 35px;
    background-color: white;
    padding: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
}

.sub-container {
    display: flex;
}

.line {
    border: 1px solid black;
}

.year {
    font-family: 'Yeseva One', cursive;
    font-size: 1.3em;
}

.y-cont {
    margin-top: 1.4em;
    margin-right: 2em;
}

.propos {
    padding-left: 2em;
}

.jaug {
    display: flex;
    flex-direction: column;

}
progress {
    padding-top: 1em;
    padding-bottom: 1em;

}

.lang {
    padding-right: 3em;
}

.comp {
    display: flex;
    align-items: center;
}

.language {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}