form {
    display: grid;
    justify-items: center;
}

.input {
    padding: 0.7em;
    display: flex;
    align-items: center;
}

input {
    display: flex;
    align-items: center;
    height: 2em;
    margin-right: 30px;
    border: solid black 1px;
    border-radius: 35px;
    background-color: white;
}

label {
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    background-color: rgb(255, 251, 8, 0.8);
}
textarea {
    border: solid black 1px;
    border-radius: 35px;
    background-color: white;
    width: 900px;
}

.submit {
    display: grid;
    justify-items: center;
    
}

.submit input {
    padding: 0.5em 2em 0.5em 2em ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    background-color: rgb(255, 251, 8, 0.8);
}
